<div class="movieContainer mt-2 mb-2">
    <a class="" href="<%= movieNames[key].attribs.href %>">
        <div class="">
            <h6 class="filteredmovienames"><%= movieNames[key].attribs.title %></h6>
        </div>
        <div class="">
            <img src="<%= movieImages[key].attribs['data-src'] %>" alt="<%= %>"> 
        </div>
    </a>
</div>