<nav class="navbar bg-primary">
    <div class="navbar-header">
        <a class="navbar-brand text-white" href="/">Movie Mania</a>
    </div>
    <form class="form-inline" action="/filteredresult" method="get">
        <input class="form-control mr-sm-2" type="text" name="search" placeholder="Enter Movie Name">
        <button class="btn btn-success my-2 my-sm-0" type="submit">Search</button>
    </form>
</nav>